{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block content %}

<div class="post-details">
  <div class="post-info">
    <hr>
    <p><strong>Автор:</strong> {{ post.author }}</p>
    <p><strong>Категория: <a href="{% url 'blog:category' post.category %}">{{ post.category|translate_category }}</a></strong></p>
    <p><strong>Пост написан:</strong> {{ post.date }}</p>
    <hr>
  </div>
  <div class="post-content">
    <h2>{{ post.title }}</h2>
    <p>{{ post.body|safe }}</p>
  </div>
</div>

{% if request.user.is_authenticated and post.author.id == request.user.id %}
<div class="post-actions">
  <a class="btn btn-primary" href="{% url 'blog:edit_post' post.pk %}" style="margin-right: 10px;">Изменить пост</a>
  <a class="btn btn-danger" href="{% url 'blog:delete_post' post.pk %}" style="margin-left: 10px;">Удалить пост</a>
</div>
{% endif %}
<div class="back-link">
  <a class="btn btn-secondary" href="{% url 'blog:all_blogs' %}" style="margin-top: 10px;">Вернуться к списку постов</a>
</div>


{% endblock %}

