{% extends 'blog/base.html' %}

{% block content %}

<div class="post-details">
  <div class="post-info">
    <p><strong>Author:</strong> {{ post.author }}</p>
    <p><strong>Date:</strong> {{ post.date }}</p>
  </div>
  <div class="post-content">
    <h1>{{ post.title }}</h1>
    <p>{{ post.body }}</p>
  </div>
</div>

{% if request.user.is_authenticated %}
<div class="post-actions">
  <a class="btn btn-primary" href="{% url 'blog:edit_post' post.pk %}" style="margin-right: 10px;">Изменить пост</a>
  <a class="btn btn-danger" href="{% url 'blog:delete_post' post.pk %}" style="margin-left: 10px;">Удалить пост</a>
</div>
{% endif %}
<div class="back-link">
  <a class="btn btn-secondary" href="{% url 'blog:all_blogs' %}" style="margin-top: 10px;">Вернуться к списку статей</a>
</div>


{% endblock %}

