{% extends 'blog/base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h1 class="text-center">Профиль</h1>

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h2 class="text-center">Данные пользователя</h2>

                    <ul class="list-group">
                        <li class="list-group-item">Имя пользователя: {{ user.username }}</li>
                        <li class="list-group-item">Email: {{ user.email }}</li>
                        <li class="list-group-item">Дата регистрации: {{ user.date_joined }}</li>
                    </ul>
                </div>
            </div>
        </div>
    {% else %}
        <h2 class="text-center">Вы не авторизованы</h2>

        <p class="text-center">Для просмотра профиля необходимо авторизоваться.</p>
        <a href="{% url 'auth_app:login' %}" class="btn btn-primary mx-auto w-50 mt-5">Войти</a>
    {% endif %}
{% endblock %}